* {
    box-sizing: border-box;
  }
  


  .navbar-brand{
    font-family: 'Baloo Thambi 2', cursive;
    display: flex;
width: 275px;
height: 42px;
flex-direction: column;
position: absolute;
left: 42px;
top: 15px;
color: #FFF;
font-size: 40px;
font-family: 'Baloo Thambi 2', cursive;
text-decoration:none;
}

a:hover{
  color: #777777;

}


.Introduction{
  display: flex;
width: 155px;
height: 42px;
flex-direction: column;
position: absolute;
right: 314px;
top: 11px;
color: #FFF;
font-size: 20px;
font-family: 'Baloo Thambi 2', cursive;
text-decoration:none;
}

.Game{
display: flex;
width: 143px;
height: 42px;
flex-direction: column;
position: absolute;
right: 140px;
top: 11px;
color: #FFF;
font-size: 20px;
font-family: 'Baloo Thambi 2', cursive;
text-decoration:none;
}

.Resources{
display: flex;
width: 143px;
height: 42px;
flex-direction: column;
position: absolute;
right: 31px;
top: 11px;
color: #FFF;
font-size: 20px;
font-family: 'Baloo Thambi 2';
text-decoration:none;
}

.background-1{
    background-image:url('./Group\ 2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 110vh;
	width: 110%;
    margin-top: -40px;
    margin-left: -10px;
}



  
  body {
    background-image:url('./Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }
  
  .quiz-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 500px;
    max-width: 95vw;
    overflow: hidden;
  }


  .quiz-header {
    padding: 1rem;
  }
  
  h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
  }
  
  ul li label {
    cursor: pointer;
  }

  button {
    background-color: #7b339b;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.1rem;
  }
  
  button:hover {
    background-color: #732d91;
  }
  
  button:focus {
    outline: none;
    background-color: #5e3370;
  }


